<main class="main">

  <div>
    <p>{{ 'TEST' | translate }}</p>
    <button (click)="switchLanguage('en')">English</button>
    <button (click)="switchLanguage('fr')">Français</button>
  </div>

  <div>
    <app-pokemon-search-bar (search)="receiveSearch($event)"></app-pokemon-search-bar>

    <ng-container *ngIf="pokemonFiltered$ | async as search">
      <div *ngIf="search.state === 'loading'">Loading...</div>
      <div *ngIf="search.state === 'error'">Error: {{ search.error.message }}</div>
      <div *ngIf="search.state === 'loaded'">
        <app-pokemon-name-list [pokemons]="search.data" (selectPokemon)="loadSelectedPokemon($event)"></app-pokemon-name-list>
      </div>
    </ng-container>
  </div>


  <ng-container *ngIf="pokemonSelectedState$ | async as state">
    <div *ngIf="state.state === 'loading'">
      Loading...
    </div>
    <div *ngIf="state.state === 'loaded' && state.data">
      <app-card-pokemon [pokemon]="state.data"></app-card-pokemon>
    </div>
    <div *ngIf="state.state === 'error'">
      Error loading Pokémon: {{ state.error }}
    </div>
  </ng-container>

</main>
<router-outlet/>
